.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

/* 상단바의 실제 내용 */
.top-nav-content {
  width: 390px;
  height: 56px;
  background-color: #f0f0ff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
}

.app-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
